<div class="card joke-card">
    <div class="card-body">
        <img class="card-icon" [src]="joke.iconUrl" alt="Card image cap" />
        <h5 class="card-title">Joke</h5>
        <p class="card-text">{{ joke.value }}</p>
        <a [href]="joke.sourceUrl" target="_blank" class="btn btn-primary">Go to joke</a>

        <form [formGroup]="jokeCategoryForm">
            <div class="form-group">
                <label for="category">Joke Category</label>
                <input type="text" formControlName="category" class="form-control" id="category">
            </div>
            <button (click)="getJokeByCategory($event)" class="btn btn-primary">Get new joke</button>
        </form>
    </div>
</div>
