<select class="form-control" (change)="getTriviaByCategory($event.target.value)">
    <option [value]="category.id" *ngFor="let category of categories">{{category.title}}</option>
</select>
<ul>
    <li *ngFor="let item of trivia">
        <dl>
            <dt>{{item.question}}</dt>
            <dd>{{ item.answer}}</dd>
        </dl>
    </li>
</ul>
